//colors
$color_0: #27ae60;
$color_1: #fff;
$color_2: #39c381;
$color_3: #4ec67f;
$color_4: #4bb777;
$color_5: #ffffff;
$color_6: #48c9b0;
$color_7: rgba(78,198,127,0.7);
$color_8: rgba(39, 174, 96, 0.5);
$color_9: rgba(39, 174, 94, 0.95);
$color_10: #2c3e50;
$color_11: #bfc9ca;
$color_12: #1abc9c;
$color_13: #eff0f2;

//@extend-elements
//original selectors
//.btn-primary:hover,  .btn-primary:focus,  .btn-primary:active,  .btn-primary.active,  .open .dropdown-toggle.btn-primary,  .pagination > .active > a,  .pagination > .active > span,  .pagination > .active > a:hover,  .pagination > .active > span:hover,  .pagination > .active > a:focus,  .pagination > .active > span:focus
%extend_1 {
	background-color: #48C9B0;
	border-color: #48C9B0;
	color: #FFFFFF;
}

//original selectors
//.nav.tree .open-tree > a,  .nav.tree .open-tree > a:hover,  .nav.tree .open-tree > a:focus
%extend_2 {
	background: none;
	font-weight: bold;
	color: $color_10;
}


body {
	background: $color_1;
}

::-moz-selection {
	color: $color_1;
	background: $color_2;
}

::selection {
	color: $color_1;
	background: $color_2;

}

.site-color {
	color: $color_3 !important;
}
a {
	&:hover {
		color: $color_3;
	}
	&:focus {
		color: $color_3;
	}
}
.search-full {
	background: $color_4;
}
.search-input {
	background: $color_4;
}
.search-close {
	color: #4BB777;
}
.navbar-tshop {
	background: $color_3;
}
.btn-primary {
	background-color: $color_3;
	color: #FFFFFF;
	&:hover {
		@extend %extend_1;
	}
	&:focus {
		@extend %extend_1;
	}
	&:active {
		@extend %extend_1;
		background: $color_3;
	}
	&.active {
		@extend %extend_1;
		background: $color_3;
	}
}
.navbar-top {
	background: $color_4;
}
.nav {
	&.tree {
		> li {
			&.active {
				background: none;
				color: $color_10;
			}
			> a {
				&:hover {
					background: none;
					color: $color_10;
				}
				&:focus {
					background: none;
					color: $color_10;
				}
			}
			&:hover > a {
				background: none;
				color: $color_10;
			}
		}
		.open-tree > a {
			@extend %extend_2;
			&:hover {
				@extend %extend_2;
			}
			&:focus {
				@extend %extend_2;
			}
		}
	}
	> li {
		&.active {
			background: #27AE60;
		}
		> a {
			&:hover {
				background: #27AE60;
			}
			&:focus {
				background: #27AE60;
			}
		}
		&:hover > a {
			background: #27AE60;
		}
	}
	.open > a {
		background: #27AE60;
		&:hover {
			background: #27AE60;
		}
		&:focus {
			background: #27AE60;
		}
	}
}
.dropdown-menu {
	border-top: solid #27AE60;
}
.btn-site {
	background: #4EC67F;
	&:hover {
		background: #27AE60;
	}
}
.full {
	width: 100%;
}
.modal-header {
	background: #4EC67F;
}
.new-product {
	background: $color_9 !important;
}
.nav-tabs {
	border-bottom: 3px solid #BFC9CA;
	> li {
		&.active > a {
			background: #BFC9CA;
			&:hover {
				background: #BFC9CA;
			}
			&:focus {
				background: #BFC9CA;
			}
		}
		&:hover > a {
			background: #BFC9CA;
		}
	}
}
.cart-actions {
	button {
		background: none repeat scroll 0 0 #4EC67F;
		border: 2px solid #27AE60;
		&:hover {
			background: $color_1;
			color: $color_10;
			border: solid 2px #4EC67F;
		}
	}
	.wishlist {
		background: none repeat scroll 0 0 #4EC67F;
		border: 2px solid #27AE60;
	}
}
.sp-current {
	border: 2px solid #4EC67F !important;
}
.promo-1 {
	background: none repeat scroll 0 0 #27AE60;
}
@media(max-width: 767px) {
	.miniCartFooter {
		background: #27AE60 !important;
	}
}
.searchInputBox .search-btn {
	color: $color_1;
}
.open .dropdown-toggle.btn-primary {
	@extend %extend_1;
	background: $color_3;
}
.pagination > .active > {
	a {
		@extend %extend_1;
		&:hover {
			@extend %extend_1;
		}
		&:focus {
			@extend %extend_1;
		}
	}
	span {
		@extend %extend_1;
		&:hover {
			@extend %extend_1;
		}
		&:focus {
			@extend %extend_1;
		}
	}
}
.navbar-nav > li > a {
	color: $color_1;
}
.cartMenu:hover > a.dropdown-toggle {
	background: #27AE60;
}
.search-box:hover {
	.form-control {
		background: #4EC67F;
	}
	.btn-nobg {
		color: #4EC67F;
	}
}
.mCS-dark-2 > .mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
	background: $color_7 !important;
}
.action-control a {
	&:hover {
		color: $color_1;
		background: #27AE60;
	}
	&.active {
		color: $color_1;
		background: #27AE60;
	}
}
.product:hover {
	border: 1px solid #4EC67F;
	border-bottom: 2px solid #4EC67F;
}
.subCategoryList .thumbnail:hover {
	border: 1px solid #4EC67F;
}
#pager a.cycle-pager-active {
	background: $color_8;
}
.pager2 a {
	border: 1px solid #4EC67F;
	&.selected {
		background: #4EC67F;
	}
}
.newsLatterBox .btn {
	background: #4EC67F;
	&:hover {
		background: #27AE60;
	}
}
.btn-discover:hover {
	background: #27AE60;
}
.footer a:hover {
	color: #4EC67F;
}
.form-control:focus {
	border-color: #4EC67F;
}
.panel-default > .panel-heading {
	border-top: 4px solid #4EC67F;
}
.socialIcon a:hover {
	background: #4EC67F;
}
.sp-thumbs a {
	&:hover {
		border: 2px solid #4EC67F !important;
	}
	&:active {
		border: 2px solid #4EC67F !important;
	}
}
sp-current:visited {
	border: 2px solid #4EC67F !important;
}
#pager2 span.cycle-pager-active {
	background: #4EC67F !important;
}
.orderStep li {
	a {
		background: #EFF0F2;
	}
	&.active a {
		background: none repeat scroll 0 0 #1ABC9C;
		&:after {
			border-top-color: #1ABC9C !important;
		}
	}
}
