//colors
$color_0: rgba(255, 255, 255, 0.5);
$color_1: rgba(255,255,255,0.1);
$color_2: #fff;
$color_3: rgba(255,255,255,0.7);
$color_4: #ffffff;
$color_5: rgba(255, 255, 255, 0.2);
$color_6: #34495e;
$color_7: #cecece;
$color_8: #dddddd;
$color_9: #e0eded;
$color_10: #ebebeb;
$color_11: #e5e5e5;
$color_12: #ddd;
$color_13: rgba(0, 0, 0, 0.4);
$color_14: #eee;
$color_15: #888888;
$color_16: #bdc3c7;
$color_17: #cacfd2;
$color_18: #a1a6a9;
$color_19: #1abc9c;
$color_20: #3498db;
$color_21: #5dade2;
$color_22: #2c81ba;
$color_23: #e74c3c;
$color_24: #ec7063;
$color_25: #c44133;
$color_26: #2ecc71;
$color_27: #58d68d;
$color_28: #27ad60;
$color_29: #f1c40f;
$color_30: #f5d313;
$color_31: #cda70d;
$color_32: #415b76;
$color_33: #2c3e50;
$color_34: #658ad0;
$color_35: #4e6fae;
$color_36: #1dadeb;
$color_37: #35c5ff;
$color_38: rgba(0, 0, 0, 0.2);
$color_39: rgba(0, 0, 0, 0.1);
$color_40: rgba(0,0,0,0.2);
$color_41: rgba(0,0,0,0.07);
$color_42: #ededed;
$color_43: rgba(0, 0, 0, 0.0);
$color_44: #ecf0f1;
$color_45: rgba(0, 0, 0, 0.3);
$color_46: rgba(255, 255, 255, 0.6);
$color_47: rgba(255,255,255,0.8);
$color_48: rgba(255, 255, 255, 0.1);
$color_49: #f2f2f2;
$color_50: #444444;
$color_51: #666666;
$color_52: #000000;
$color_53: rgb(0,0,0);
$color_54: rgba(0, 0, 0, 0.8);
$color_55: rgba(0, 0, 0, 0.6);
$color_56: rgb(255,255,255);
$color_57: rgba(255, 255, 255, 0.8);
$color_58: #000;
$color_59: rgba(0, 0, 0, 0.5);
$color_60: rgba(0, 0, 0, 0.15);
$color_61: #ff1944;
$color_62: rgba(255, 0, 48, 0.9);
$color_63: #7f8c8d;
$color_64: #734e48;
$color_65: rgba(0, 0, 0, 0.33);
$color_66: #edeff1;
$color_67: #cccccc;
$color_68: #bac1c8;
$color_69: #54697e;
$color_70: #78828d;
$color_71: #b4b3b3;
$color_72: #b5b5b5;
$color_73: #e3e3e3;
$color_74: #999999;
$color_75: #444;
$color_76: #eeeeee;
$color_77: #b2b2b2;
$color_78: #c5c5c5;
$color_79: #666;
$color_80: #4cc94a;
$color_81: red;
$color_82: #ebedef;
$color_83: #8bb418;
$color_84: #eff0f2;
$color_85: rgba(0, 0, 0, 0.05);
$color_86: #f5f5f5;
$color_87: #e7e9ec;
$color_88: rgba(255,255,255,0.80);

//fonts
$font_0: Source Sans Pro;
$font_1: sans-serif;
$font_2: Dosis;
$font_3: dosis;
$font_4: Arial;
$font_5: Helvetica;
$font_6: serif;
$font_7: Helvetica Neue;
