<nav id="top-nav-bar" class="columns ten">
  <ul id="nav-bar" class="userMenu" data-hook>
    <li id="search-bar" data-hook>
      <%= render :partial => 'spree/shared/search' %>
    </li>
  </ul>
</nav>
