<% max_level = Spree::Config[:max_level_in_taxons_menu] || 1 %>
<nav class="panel-group" id="taxonomies">
    <% @taxonomies.each do |taxonomy| %>
        <% cache [I18n.locale, taxonomy, max_level] do %>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                            <%= Spree.t(:shop_by_taxonomy, :taxonomy => taxonomy.name) %>
                    </h4>
                </div>
                <div class="panel-collapse collapse in">
                    <div class="panel-body">
                        <ul class="nav nav-pills nav-stacked tree">
                            <%= sidebar_taxons_tree(taxonomy.root, @taxon, max_level) %>
                        </ul>
                    </div>
                </div>
            </div>
        <% end %>
    <% end %>
</nav>
