<% @content_class = "col-lg-12 col-md-12 col-sm-12 col-xs-12" %>
<div class="banner" data-hook="homepage_products">
    <div class="full-container">
        <div class="slider-content">
            <ul id="pager2" class="container">
            </ul>
            <!-- prev/next links -->
            <span class="prevControl sliderControl"> <i class="fa fa-angle-left fa-3x "></i></span> <span class="nextControl sliderControl"> <i class="fa fa-angle-right fa-3x "></i></span>
            <div class="slider slider-v1"
                data-cycle-swipe=true
                data-cycle-prev=".prevControl"
                data-cycle-next=".nextControl" data-cycle-loader="wait">
                <div class="slider-item slider-item-img1">
                    <img src="images/slider/slider0.jpg" class="img-responsive parallaximg sliderImg" alt="img">
                </div>
                <div class="slider-item slider-item-img1">
                    <div class="sliderInfo">
                        <div class="container">
                            <div class="col-lg-12 col-md-12 col-sm-12 sliderTextFull ">
                                <div class="inner text-center">
                                    <div class="topAnima animated">
                                        <h1 class="uppercase xlarge">FREE SHIPPING</h1>
                                        <h3 class="hidden-xs"> Free Standard Shipping on Orders Over $100 </h3>
                                    </div>
                                    <a class="btn btn-danger btn-lg bottomAnima animated opacity0">
                                        SHOP NOW ON TSHOP
                                        <span class="arrowUnicode">►</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <img src="images/slider/slider1.jpg" class="img-responsive parallaximg sliderImg" alt="img">
                </div>
                <!--/.slider-item-->
                <div class="slider-item slider-item-img2 ">
                    <div class="sliderInfo">
                        <div class="container">
                            <div class="col-lg-12 col-md-12 col-sm-12 sliderTextFull  ">
                                <div class="inner dark maxwidth500 text-center animated topAnima">
                                    <div class=" ">
                                        <h1 class="uppercase xlarge"> CUSTOM HTML BLOCK</h1>
                                        <h3 class="hidden-xs">  Custom Slides to Your Slider  </h3>
                                    </div>
                                    <a class="btn btn-danger btn-lg">SHOP NOW ON TSHOP <span class="arrowUnicode">►</span></a> </div>
                            </div>
                        </div>
                    </div>
                    <img src="images/slider/slider3.jpg" class="img-responsive parallaximg sliderImg" alt="img"> </div>
                <!--/.slider-item-->
                <div class="slider-item slider-item-img3">
                    <div class="sliderInfo">
                        <div class="container">
                            <div class="col-lg-5 col-md-4 col-sm-6 col-xs-8   pull-left sliderText white hidden-xs">
                                <div class="inner">
                                    <h1>TSHOP JEANS</h1>
                                    <h3 class="price "> Free Shipping on $100</h3>
                                    <p class="hidden-xs">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. </p>
                                    <a href="category.html" class="btn btn-primary">SHOP NOW <span class="arrowUnicode">►</span></a> </div>
                            </div>
                        </div>
                    </div>
                    <img src="images/slider/slider4.jpg" class="img-responsive parallaximg sliderImg"  alt="img"> </div>
                <!--/.slider-item-->
                <div class="slider-item slider-item-img3">
                    <div class="sliderInfo">
                        <div class="container">
                            <div class="col-lg-5 col-md-6 col-sm-5 col-xs-5 pull-left sliderText blankstyle transformRight">
                                <div class="inner text-right"> <img src="images/slider/color.png" class="img-responsive" alt="img"> </div>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-5 col-xs-7   pull-left sliderText blankstyle color-white">
                                <div class="inner">
                                    <h1 class="uppercase topAnima animated ">10+ Amazing Color Theme</h1>
                                    <p class="bot tomAnima animated opacity0 hidden-xs"> Fully responsive bootstrap Ecommerce Template. Available in 10+ color schemes and easy to set. </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <img src="images/slider/6.jpg" class="img-responsive parallaximg sliderImg"  alt="img"> </div>
            </div>
            <!--/.slider slider-v1-->
        </div>
        <!--/.slider-content-->
    </div>
    <!--/.full-container-->
</div>
<!--/.banner style1-->
<div class="container main-container">
    <!-- Main component call to action -->
    <div class="row featuredPostContainer globalPadding style2">
        <h3 class="section-title style2 text-center"><span>NEW ARRIVALS</span></h3>
        <div id="productslider" class="owl-carousel owl-theme">
            <div class="item">
                <div class="product">
                    <div class="image"> <a href="product-details.html"><img src="images/product/34.jpg" alt="img" class="img-responsive"></a>
                        <div class="promotion"> <span class="new-product"> NEW</span> <span class="discount">15% OFF</span> </div>
                    </div>
                    <div class="description">
                        <h4><a href="product-details.html">consectetuer adipiscing </a></h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. </p>
                        <span class="size">XL / XXL / S </span> </div>
                    <div class="price"> <span>$25</span>  </div>
                    <div class="action-control"> <a class="btn btn-primary"> <span class="add2cart"><i class="glyphicon glyphicon-shopping-cart"> </i> Add to cart </span> </a> </div>
                </div>
            </div>
            <div class="item">
                <div class="product">
                    <div class="image"> <a href="product-details.html"><img src="images/product/30.jpg" alt="img" class="img-responsive"></a>
                        <div class="promotion"> <span class="discount">15% OFF</span> </div>
                    </div>
                    <div class="description">
                        <h4><a href="product-details.html">luptatum zzril delenit</a></h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. </p>
                        <span class="size">XL / XXL / S </span> </div>
                    <div class="price"> <span>$25</span>  </div>
                    <div class="action-control"> <a class="btn btn-primary"> <span class="add2cart"><i class="glyphicon glyphicon-shopping-cart"> </i> Add to cart </span> </a> </div>
                </div>
            </div>
            <div class="item">
                <div class="product">
                    <div class="image"> <a href="product-details.html"><img src="images/product/36.jpg" alt="img" class="img-responsive"></a>
                        <div class="promotion"> <span class="new-product"> NEW</span> </div>
                    </div>
                    <div class="description">
                        <h4><a href="product-details.html">eleifend option </a></h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. </p>
                        <span class="size">XL / XXL / S </span> </div>
                    <div class="price"> <span>$25</span>  </div>
                    <div class="action-control"> <a class="btn btn-primary"> <span class="add2cart"><i class="glyphicon glyphicon-shopping-cart"> </i> Add to cart </span> </a> </div>
                </div>
            </div>
            <div class="item">
                <div class="product">
                    <div class="image"> <a href="product-details.html"><img src="images/product/9.jpg" alt="img" class="img-responsive"></a> </div>
                    <div class="description">
                        <h4><a href="product-details.html">mutationem consuetudium </a></h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. </p>
                        <span class="size">XL / XXL / S </span> </div>
                    <div class="price"> <span>$25</span>  </div>
                    <div class="action-control"> <a class="btn btn-primary"> <span class="add2cart"><i class="glyphicon glyphicon-shopping-cart"> </i> Add to cart </span> </a> </div>
                </div>
            </div>
            <div class="item">
                <div class="product">
                    <div class="image"> <a href="product-details.html"><img src="images/product/12.jpg" alt="img" class="img-responsive"></a> </div>
                    <div class="description">
                        <h4><a href="product-details.html">sequitur mutationem </a></h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. </p>
                        <span class="size">XL / XXL / S </span> </div>
                    <div class="price"> <span>$25</span>  </div>
                    <div class="action-control"> <a class="btn btn-primary"> <span class="add2cart"><i class="glyphicon glyphicon-shopping-cart"> </i> Add to cart </span> </a> </div>
                </div>
            </div>
            <div class="item">
                <div class="product">
                    <div class="image"> <a href="product-details.html"><img src="images/product/13.jpg" alt="img" class="img-responsive"></a> </div>
                    <div class="description">
                        <h4><a href="product-details.html">consuetudium lectorum.</a></h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. </p>
                        <span class="size">XL / XXL / S </span> </div>
                    <div class="price"> <span>$25</span>  </div>
                    <div class="action-control"> <a class="btn btn-primary"> <span class="add2cart"><i class="glyphicon glyphicon-shopping-cart"> </i> Add to cart </span> </a> </div>
                </div>
            </div>
            <div class="item">
                <div class="product">
                    <div class="image"> <a href="product-details.html"><img src="images/product/21.jpg" alt="img" class="img-responsive"></a> </div>
                    <div class="description">
                        <h4><a href="product-details.html">parum claram</a></h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. </p>
                        <span class="size">XL / XXL / S </span> </div>
                    <div class="price"> <span>$25</span>  </div>
                    <div class="action-control"> <a class="btn btn-primary"> <span class="add2cart"><i class="glyphicon glyphicon-shopping-cart"> </i> Add to cart </span> </a> </div>
                </div>
            </div>
            <div class="item">
                <div class="product">
                    <div class="image"> <a href="product-details.html"><img src="images/product/24.jpg" alt="img" class="img-responsive"></a> </div>
                    <div class="description">
                        <h4><a href="product-details.html">duis dolore </a></h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. </p>
                        <span class="size">XL / XXL / S </span> </div>
                    <div class="price"> <span>$25</span>  </div>
                    <div class="action-control"> <a class="btn btn-primary"> <span class="add2cart"><i class="glyphicon glyphicon-shopping-cart"> </i> Add to cart </span> </a> </div>
                </div>
            </div>
            <div class="item">
                <div class="product">
                    <div class="image"> <a href="product-details.html"><img src="images/product/15.jpg" alt="img" class="img-responsive"></a></div>
                    <div class="description">
                        <h4><a href="product-details.html">feugait nulla facilisi</a></h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. </p>
                        <span class="size">XL / XXL / S </span> </div>
                    <div class="price"> <span>$25</span>  </div>
                    <div class="action-control"> <a class="btn btn-primary"> <span class="add2cart"><i class="glyphicon glyphicon-shopping-cart"> </i> Add to cart </span> </a> </div>
                </div>
            </div>
        </div>
        <!--/.productslider-->
    </div>
    <!--/.featuredPostContainer-->
</div>
<!-- /main container -->
<div class="parallax-section parallax-image-1">
    <div class="container">
        <div class="row ">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="parallax-content clearfix">
                    <h1 class="parallaxPrce"> $200 </h1>
                    <h2 class="uppercase">FREE INTERNATIONAL SHIPPING! Get Free Shipping Coupons</h2>
                    <h3 > Energistically develop parallel mindshare rather than premier deliverables. </h3>
                    <div style="clear:both"></div>
                    <a class="btn btn-discover "> <i class="fa fa-shopping-cart"></i> SHOP NOW </a> </div>
            </div>
        </div>
        <!--/.row-->
    </div>
    <!--/.container-->
</div>
<!--/.parallax-image-1-->
<div class="container main-container">
    <!-- Main component call to action -->
    <div class="morePost row featuredPostContainer style2 globalPaddingTop " >
        <h3 class="section-title style2 text-center"><span>FEATURES PRODUCT</span></h3>
        <div class="container">
            <div class="row xsResponse">
                <div class="item col-lg-3 col-md-3 col-sm-4 col-xs-6">
                    <div class="product">
                        <div class="image"> <a href="product-details.html"><img src="images/product/30.jpg" alt="img" class="img-responsive"></a>
                            <div class="promotion"> <span class="new-product"> NEW</span> <span class="discount">15% OFF</span> </div>
                        </div>
                        <div class="description">
                            <h4><a href="product-details.html">aliquam erat volutpat</a></h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. </p>
                            <span class="size">XL / XXL / S </span> </div>
                        <div class="price"> <span>$25</span> <span class="old-price">$75</span> </div>
                        <div class="action-control"> <a class="btn btn-primary"> <span class="add2cart"><i class="glyphicon glyphicon-shopping-cart"> </i> Add to cart </span> </a> </div>
                    </div>
                </div>
                <!--/.item-->
                <div class="item col-lg-3 col-md-3 col-sm-4 col-xs-6">
                    <div class="product">
                        <div class="image"> <a href="product-details.html"><img src="images/product/31.jpg" alt="img" class="img-responsive"></a>
                            <div class="promotion"> <span class="discount">15% OFF</span> </div>
                        </div>
                        <div class="description">
                            <h4><a href="product-details.html">ullamcorper suscipit lobortis </a></h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. </p>
                            <span class="size">XL / XXL / S </span> </div>
                        <div class="price"> <span>$25</span>  </div>
                        <div class="action-control"> <a class="btn btn-primary"> <span class="add2cart"><i class="glyphicon glyphicon-shopping-cart"> </i> Add to cart </span> </a> </div>
                    </div>
                </div>
                <!--/.item-->
                <div class="item col-lg-3 col-md-3 col-sm-4 col-xs-6">
                    <div class="product">
                        <div class="image"> <a href="product-details.html"><img src="images/product/34.jpg" alt="img" class="img-responsive"></a>
                            <div class="promotion"> <span class="new-product"> NEW</span> </div>
                        </div>
                        <div class="description">
                            <h4><a href="product-details.html">demonstraverunt lectores </a></h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. </p>
                            <span class="size">XL / XXL / S </span> </div>
                        <div class="price"> <span>$25</span>  </div>
                        <div class="action-control"> <a class="btn btn-primary"> <span class="add2cart"><i class="glyphicon glyphicon-shopping-cart"> </i> Add to cart </span> </a> </div>
                    </div>
                </div>
                <!--/.item-->
                <div class="item col-lg-3 col-md-3 col-sm-4 col-xs-6">
                    <div class="product">
                        <div class="image"> <a href="product-details.html"><img src="images/product/12.jpg" alt="img" class="img-responsive"></a> </div>
                        <div class="description">
                            <h4><a href="product-details.html">humanitatis per</a></h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. </p>
                            <span class="size">XL / XXL / S </span> </div>
                        <div class="price"> <span>$25</span>  </div>
                        <div class="action-control"> <a class="btn btn-primary"> <span class="add2cart"><i class="glyphicon glyphicon-shopping-cart"> </i> Add to cart </span> </a> </div>
                    </div>
                </div>
                <!--/.item-->
                <div class="item col-lg-3 col-md-3 col-sm-4 col-xs-6">
                    <div class="product">
                        <div class="image"> <a href="product-details.html"><img src="images/product/33.jpg" alt="img" class="img-responsive"></a> </div>
                        <div class="description">
                            <h4><a href="product-details.html">Eodem modo typi</a></h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. </p>
                            <span class="size">XL / XXL / S </span> </div>
                        <div class="price"> <span>$25</span>  </div>
                        <div class="action-control"> <a class="btn btn-primary"> <span class="add2cart"><i class="glyphicon glyphicon-shopping-cart"> </i> Add to cart </span> </a> </div>
                    </div>
                </div>
                <!--/.item-->
                <div class="item col-lg-3 col-md-3 col-sm-4 col-xs-6">
                    <div class="product">
                        <div class="image"> <a href="product-details.html"><img src="images/product/10.jpg" alt="img" class="img-responsive"></a> </div>
                        <div class="description">
                            <h4><a href="product-details.html">sequitur mutationem </a></h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. </p>
                            <span class="size">XL / XXL / S </span> </div>
                        <div class="price"> <span>$25</span>  </div>
                        <div class="action-control"> <a class="btn btn-primary"> <span class="add2cart"><i class="glyphicon glyphicon-shopping-cart"> </i> Add to cart </span> </a> </div>
                    </div>
                </div>
                <!--/.item-->
                <div class="item col-lg-3 col-md-3 col-sm-4 col-xs-6">
                    <div class="product">
                        <div class="image"> <a href="product-details.html"><img src="images/product/37.jpg" alt="img" class="img-responsive"></a> </div>
                        <div class="description">
                            <h4><a href="product-details.html">consuetudium lectorum.</a></h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. </p>
                            <span class="size">XL / XXL / S </span> </div>
                        <div class="price"> <span>$25</span>  </div>
                        <div class="action-control"> <a class="btn btn-primary"> <span class="add2cart"><i class="glyphicon glyphicon-shopping-cart"> </i> Add to cart </span> </a> </div>
                    </div>
                </div>
                <!--/.item-->
                <div class="item col-lg-3 col-md-3 col-sm-4 col-xs-6">
                    <div class="product">
                        <div class="image"> <a href="product-details.html"><img src="images/product/35.jpg" alt="img" class="img-responsive"></a> </div>
                        <div class="description">
                            <h4><a href="product-details.html">parum claram</a></h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. </p>
                            <span class="size">XL / XXL / S </span> </div>
                        <div class="price"> <span>$25</span> <span class="old-price">$75</span> </div>
                        <div class="action-control"> <a class="btn btn-primary"> <span class="add2cart"><i class="glyphicon glyphicon-shopping-cart"> </i> Add to cart </span> </a> </div>
                    </div>
                </div>
                <!--/.item-->
                <div class="item col-lg-3 col-md-3 col-sm-4 col-xs-6">
                    <div class="product">
                        <div class="image"> <a href="product-details.html"><img src="images/product/13.jpg" alt="img" class="img-responsive"></a> </div>
                        <div class="description">
                            <h4><a href="product-details.html">duis dolore </a></h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. </p>
                            <span class="size">XL / XXL / S </span> </div>
                        <div class="price"> <span>$25</span>  </div>
                        <div class="action-control"> <a class="btn btn-primary"> <span class="add2cart"><i class="glyphicon glyphicon-shopping-cart"> </i> Add to cart </span> </a> </div>
                    </div>
                </div>
                <!--/.item-->
                <div class="item col-lg-3 col-md-3 col-sm-4 col-xs-6">
                    <div class="product">
                        <div class="image"> <a href="product-details.html"><img src="images/product/21.jpg" alt="img" class="img-responsive"></a>
                            <div class="promotion"> <span class="new-product"> NEW</span> <span class="discount">15% OFF</span> </div>
                        </div>
                        <div class="description">
                            <h4><a href="product-details.html">aliquam erat volutpat</a></h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. </p>
                            <span class="size">XL / XXL / S </span> </div>
                        <div class="price"> <span>$25</span>  </div>
                        <div class="action-control"> <a class="btn btn-primary"> <span class="add2cart"><i class="glyphicon glyphicon-shopping-cart"> </i> Add to cart </span> </a> </div>
                    </div>
                </div>
                <!--/.item-->
                <div class="item col-lg-3 col-md-3 col-sm-4 col-xs-6">
                    <div class="product">
                        <div class="image"> <a href="product-details.html"><img src="images/product/14.jpg" alt="img" class="img-responsive"></a>
                            <div class="promotion"> <span class="discount">15% OFF</span> </div>
                        </div>
                        <div class="description">
                            <h4><a href="product-details.html">ullamcorper suscipit lobortis </a></h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. </p>
                            <span class="size">XL / XXL / S </span> </div>
                        <div class="price"> <span>$25</span>  </div>
                        <div class="action-control"> <a class="btn btn-primary"> <span class="add2cart"><i class="glyphicon glyphicon-shopping-cart"> </i> Add to cart </span> </a> </div>
                    </div>
                </div>
                <!--/.item-->
                <div class="item col-lg-3 col-md-3 col-sm-4 col-xs-6">
                    <div class="product">
                        <div class="image"> <a href="product-details.html"><img src="images/product/17.jpg" alt="img" class="img-responsive"></a>
                            <div class="promotion"> <span class="new-product"> NEW</span> </div>
                        </div>
                        <div class="description">
                            <h4><a href="product-details.html">demonstraverunt lectores </a></h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. </p>
                            <span class="size">XL / XXL / S </span> </div>
                        <div class="price"> <span>$25</span>  </div>
                        <div class="action-control"> <a class="btn btn-primary"> <span class="add2cart"><i class="glyphicon glyphicon-shopping-cart"> </i> Add to cart </span> </a> </div>
                    </div>
                </div>
                <!--/.item-->
            </div>
            <!-- /.row -->
            <div class="row">
                <div class="load-more-block text-center">
                    <a class="btn btn-thin" href="#">
                        <i class="fa fa-plus-sign">+</i>  load more products</a>
                </div>
            </div>
        </div>
        <!--/.container-->
    </div>
    <!--/.featuredPostContainer-->
    <hr class="no-margin-top">
    <div class="width100 section-block ">
        <div class="row featureImg">
            <div class="col-md-3 col-sm-3 col-xs-6"> <a href="category.html"><img src="images/site/new-collection-1.jpg" class="img-responsive" alt="img" ></a> </div>
            <div class="col-md-3 col-sm-3 col-xs-6"> <a href="category.html"><img src="images/site/new-collection-2.jpg" class="img-responsive" alt="img" ></a> </div>
            <div class="col-md-3 col-sm-3 col-xs-6"> <a href="category.html"><img src="images/site/new-collection-3.jpg" class="img-responsive" alt="img" ></a> </div>
            <div class="col-md-3 col-sm-3 col-xs-6"> <a href="category.html"><img src="images/site/new-collection-4.jpg" class="img-responsive" alt="img"></a> </div>
        </div>
        <!--/.row-->
    </div>
    <!--/.section-block-->
    <div class="width100 section-block">
        <h3 class="section-title"><span> BRAND</span> <a id="nextBrand" class="link pull-right carousel-nav"> <i class="fa fa-angle-right"></i></a> <a id="prevBrand" class="link pull-right carousel-nav"> <i class="fa fa-angle-left"></i> </a> </h3>
        <div class="row">
            <div class="col-lg-12">
                <ul class="no-margin brand-carousel owl-carousel owl-theme">
                    <li><a ><img src="images/brand/1.gif" alt="img" ></a></li>
                    <li><img src="images/brand/2.png" alt="img" ></li>
                    <li><img src="images/brand/3.png" alt="img" ></li>
                    <li><img src="images/brand/4.png" alt="img" ></li>
                    <li><img src="images/brand/5.png" alt="img" ></li>
                    <li><img src="images/brand/6.png" alt="img" ></li>
                    <li><img src="images/brand/7.png" alt="img" ></li>
                    <li><img src="images/brand/8.png" alt="img" ></li>
                    <li><img src="images/brand/1.gif" alt="img" ></li>
                    <li><img src="images/brand/2.png" alt="img" ></li>
                    <li><img src="images/brand/3.png" alt="img" ></li>
                    <li><img src="images/brand/4.png" alt="img" ></li>
                    <li><img src="images/brand/5.png" alt="img" ></li>
                    <li><img src="images/brand/6.png" alt="img" ></li>
                    <li><img src="images/brand/7.png" alt="img" ></li>
                    <li><img src="images/brand/8.png" alt="img" ></li>
                </ul>
            </div>
        </div>
        <!--/.row-->
    </div>
    <!--/.section-block-->
</div>
<!--main-container-->
<div class="parallax-section parallax-image-2">
    <div class="w100 parallax-section-overley">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <div class="parallax-content clearfix">
                        <h1 class="xlarge"> Trusted Seller 500+ </h1>
                        <h5 class="parallaxSubtitle"> Lorem ipsum dolor sit amet consectetuer </h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--/.parallax-section-->
